<div class="box4">
  <p>第{{pageNumber + 1}}問</p>
  <p>{{sentence[pageNumber]}}</p>
</div>

<div class="todo-container">
  <h3>勘定科目</h3>

  <div cdkDropList #accountItemList="cdkDropList" [cdkDropListData]="accountItem[pageNumber]" [cdkDropListConnectedTo]="[accountItemAnswerList,accountItemAnswerList2]"
    class="todo-list" (cdkDropListDropped)="drop($event)">
    <div class="todo-box" *ngFor="let item of accountItem[pageNumber]" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="todo-container">
  <h3>金額</h3>

  <div cdkDropList #moneyList="cdkDropList" [cdkDropListData]="money[pageNumber]" [cdkDropListConnectedTo]="[moneyAnswerList,moneyAnswerList2]"
    class="todo-list" (cdkDropListDropped)="drop($event)">
    <div class="todo-box" *ngFor="let item of money[pageNumber]" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="answer-container">
  <h3>借方</h3>

  <div cdkDropList #accountItemAnswerList="cdkDropList" [cdkDropListData]="debit[pageNumber]" [cdkDropListConnectedTo]="[accountItemList, accountItemAnswerList2]"
    class="answer-list" (cdkDropListDropped)="drop($event)">
    <div class="todo-box" *ngFor="let item of debit[pageNumber]" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="answer-container">
  <h3>借方金額</h3>

  <div cdkDropList #moneyAnswerList="cdkDropList" [cdkDropListData]="debitMoney[pageNumber]" [cdkDropListConnectedTo]="[moneyList, moneyAnswerList2]"
    class="answer-list" (cdkDropListDropped)="drop($event)">
    <div class="todo-box" *ngFor="let item of debitMoney[pageNumber]" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="answer-container">
  <h3>貸方</h3>

  <div cdkDropList #accountItemAnswerList2="cdkDropList" [cdkDropListData]="credit[pageNumber]" [cdkDropListConnectedTo]="[accountItemList, accountItemAnswerList]"
    class="answer-list" (cdkDropListDropped)="drop($event)">
    <div class="todo-box" *ngFor="let item of credit[pageNumber]" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="answer-container">
  <h3>貸方金額</h3>

  <div cdkDropList #moneyAnswerList2="cdkDropList" [cdkDropListData]="creditMoney[pageNumber]" [cdkDropListConnectedTo]="[moneyList, moneyAnswerList]"
    class="answer-list" (cdkDropListDropped)="drop($event)">
    <div class="todo-box" *ngFor="let item of creditMoney[pageNumber]" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="button">
  <ng-container *ngIf="pageNumber>=1">
    <button type="disabled" mat-raised-button class="cancel" (click)="cancel()">戻る</button>
  </ng-container>
  <ng-container *ngIf="pageNumber !== lastPageNumber ; else lastPage">
    <button type="submit" mat-raised-button color="primary" class="submit" (click)="next()">次へ</button>
  </ng-container>
  <ng-template #lastPage>
    <button type="submit" mat-raised-button color="primary" class="submit" (click)="submit()">採点へ</button>
  </ng-template>
</div>