  .login-card {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-title {
    font-weight: bold;
    font-size: 22px;
    color: #020202;
    text-align: center;
  }